<!--公共页脚-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="commonFooter">
    <div  class="footer">
        <div class="footer-inner">
            <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">广州欢网科技有限责任公司</span>
                huanPay支付系统 &copy; 2018
            </span>
            </div>
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

</html>